<div class="rules">
	<h2> A book for your travel </h2>
	<ul>
		<li>Select the Range of your trip. I.E if your first leg of travel is 2 hours and your second leg of travel is 2 hours. Then select a range of 4 hours.</li>
		<li>Click the button</li>
		<li>You'll get a fictional novel that can be read specifically for the length of your trip.</li>
	</ul>
</div>

<div class="container">
	<form class="form">
<!-- 		Create a scroll down input box to pick Genre.-->
	<select name="select" id="hourSelect">
		<option value="selecthours">Select The Range of Your Trip</option>
		<option value="oneTo4">One to Four Hour Trip</option> 
		<option value="fourTo6">Four to Six Hour Trip</option> 
		<option value="sixTo8">Six to Eight Hour Trip</option>
		<option value="eightTo10">Six to Ten Hour Trip</option>
		<option value="tenTo12">Ten to Twelve Hour Trip</option>
		<option value="twelveTo14">Twelve to Fourteen Hour Trip</option>
		<option value="fourteenTo16">Ten to Sixteen Hour Trip</option>
	</select>
	<button type="button" id="but" ng-click="clickFunction()">Click to get your books</button>
	</form>
</div>

<bookElement class="books">
	
</bookElement>